<h1><%= @product.name %></h1>
<h3><%= @product.cost %></h3>

<% if @product.reviews.any? %>
  <h4>Here are the reviews for this product:</h4>

  <% @product.reviews.each do |review| %>
    <ul>
      <li>
      <%= link_to review.content_body, product_review_path(@product, review) %>
      </li>
    </ul>
  <% end %>
<% else %>
  <p>No reviews are listed for this product.</p>
<% end %>

<%= button_to "Add review to product", 
              new_product_review_path(@product),
              method: :get %>

<%= button_to "Edit product", 
              edit_product_path(@product),
              method: :get %>

<%= button_to "Delete product", 
              product_path(@product),
              method: :delete %> 

<%= button_to "Return to products page", 
              products_path,
              method: :get %>